<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.QA.Gibsons_Connect_Order_Test_Script.GroundspreadOrderWithAdditionalFee_Test_Script"/>
      <class name="com.QA.Gibsons_Connect_Order_Test_Script.GrounspreadFarmMapHistory_Test_Script"/>
      <class name="com.QA.Gibsons_Connect_Order_Test_Script.GroundSpreadOrder_Test_Script"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
